.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.grid-item {
  width: 4rem;
  height: 4rem;
}

.return-button {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.return-button:hover {
  background-color: #93e4ef;
}

.grid-item.incorrect {
  background-color: red;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.progress-bar-container {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 27%;
  max-width: 500px;
  height: 1.25rem;
  background-color: #f3f3f3;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
}

.progress-bar {
  height: 100%;
  background-color: #92ed4c;
  border-radius: 0.25rem;
  transition: width 0.3s ease;
}


.game-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-content {
  margin-top: -6rem;
}

.instructions-header {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 6rem;
}

@media (max-width: 768px) {
  .grid-item {
    width: 3.3rem;
    height: 3.3rem;
  }

  .return-button {
    bottom: 1.5rem;
    right: 2.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  .instructions-header {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .progress-bar-container {
    width: 70%;
  }

}
