
.results-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.content {
  z-index: 1;
}

.buttons {
  margin-top: 1.25rem;
}

.home {
  background-color: #61dafb;
  border: none;
}

.home:hover {
  background-color: #93e4ef;
}

.play {
  background-color: #f4875c;
  border: none;
}

.play:hover {
  background-color: #f1a972;
}
